#chicken {
    height:auto;
    width: 400px
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, Helvetica, sans-serif;

}

.home {
    background-color: blue;
    color:white;
}

* {
    line-height: 1.5;
    background-color:beige;

}

    img {
    height: auto;
    width: 300px;
    display:block;
    margin: auto;
    margin-bottom: 50px;
    border: 7px solid white;
    box-sizing: border-box;
}
