h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, Helvetica, sans-serif;
    padding: 20px;
    border: 20px solid white;
    
}

* {
    line-height: 1.5;
    list-style: none;
    background-color: beige;
   

}

img {

    width: 350px;
    height: 350px;
    border: 7px solid; color: white;
    margin-bottom: 100px;
    

}

li {
    padding: 10px;
    
}

a {
    text-decoration: underline;
    color: black;
    font-size: 30px;

}

.container {
    display: flex;
    justify-content: center;
    
}

ul {
    display: flex;
    gap: 30px;
  
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}