h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, Helvetica, sans-serif;
    padding: 20px;
    border: 20px solid white;
    
}

* {
    line-height: 1.5;
    list-style: none;
    background-color: beige;
   

}

img {

    width: 350px;
    height: 350px;
    box-sizing: border-box;
    margin: auto;
    border: 7px solid; color: white;
    display:block;
    

}

